*{
	font-size:21px
}
h1{
	font-size:42px
}
#app{
	display:flex;
	align-items:center;
	flex-direction:column;
	
	margin-left:12.5%;
	width:75%;
}
#boxApp{
	display:flex;
	align-items:center;
	flex-direction:column;
	align-items:center;
	
	margin-left:12.5%;
	width:75%;
	border:2px solid black;
	margin:0px;
	width:100%;
}
.Task{
	flex-wrap:wrap;
	display:flex;
	align-items:center;
	flex-direction:row;
	width:33.33%;
}
.com{
	display:flex;
	align-items:center;
	flex-direction:column;
	width:100%;
	border-bottom:2px solid lightgrey;
}
.TaskList{
	display:flex;
	align-content: center;
	flex-wrap:wrap;
	flex-direction:row;
	width:100%;
	border-bottom:2px solid lightgrey;
}
.TaskOff{
text-decoration: line-through
}